*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: bisque;
}
form{
    background-color: rgb(61, 61, 61);
    padding: 40px;
    display: grid;
    box-shadow: -10px -10px 20px black;
    border-radius: 20px;
}
form .displayContainer{
    display: grid;
    border-radius: 20px;
    background-color: aliceblue;
}
form .displayContainer input{
    text-align: right;
    border: 0 solid black;
    background-color: transparent;
    padding: 5px;
    padding-inline-end: 30px;
    cursor: pointer;
}
form .displayContainer input:first-child{
    font-size: 2rem;
}
form .displayContainer input:last-child{
    font-size: 3rem;
}

form .buttonContainer{
    display: grid;
    margin-top: 20px;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    padding: 10px;

}
form .buttonContainer input{
    aspect-ratio: 1/1;
    font-size: 3rem;
    border: 0 solid violet;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: -5px -5px 10px hsla(0, 0%, 0%, 0.727), 5px 5px 5px hsla(0, 0%, 0%, 0.495);
    transition: 0.3s linear;
}

form .buttonContainer input:hover{
    box-shadow: -5px -5px 20px hsla(0, 0%, 0%, 0.925), 5px 5px 15px hsla(0, 0%, 0%, 0.668);
    color: rgb(247, 247, 247);
    transform: rotate(10deg);
}

form .buttonContainer input:active{
    box-shadow: -5px -5px 20px hsla(0, 59%, 54%, 0.925), 5px 5px 15px hsla(0, 50%, 40%, 0.668);
    color: rgb(247, 247, 247);
    transform: rotate(10deg);
}

form .buttonContainer input:nth-child(4),
form .buttonContainer input:nth-child(8),
form .buttonContainer input:nth-child(12),
form .buttonContainer input:nth-child(16){
    background-color:  rgb(50, 119, 18);
}

form .buttonContainer input:nth-child(15){
    background-color:  rgb(18, 50, 119);
}
