.head{
  position: fixed;
  height: 50px;
  background-color: black;
  left: 0%;
  right: 0%;
  top: 0%;
  z-index: 100;
  border-bottom: 2px solid rgb(73, 25, 25);
  padding-left: 10%;
  padding-bottom: 3%;
  padding-right: 10%;
}
.title{
  color: rgb(253, 226, 226);
  font-family: roboto;
  text-align: center;
  font-size: 40px;
  margin: 0%;
  margin-top: 15px;
  margin-bottom: auto;
}
